html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

div {
    display: block;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

#root {
    
    margin: auto;
    position: relative;
    text-align: center;
    width: 30%;  
    margin-top: 20%;
}

.square {
    background: #fff;
    border: 5px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 54px;
    height: 54px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 54px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

